@model soen390_team01.Models.InventoryModel

@{
    ViewData["Title"] = "InventoryView";
}

<h1>InventoryView</h1>

<h4>RegisterModel</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <div class="form-group">
          
        </div>
    </div>
</div>