@model soen390_team01.Models.InventoryModel

@{ViewData["Title"] = "Inventory View";}

<head>
    <link rel="stylesheet" href="\css\Inventory.css">
    
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script type="text/javascript">
        function changeQuantity(inv, change) {
            inv.Quantity += change;
            $.ajax({
                url: '@Url.Action("ChangeQuantity", "Inventory")',
                type: 'POST',
                contentType: 'application/json; charset=utf-8',
                data: JSON.stringify(inv),
                dataType: 'html',
                success: function (result) {
                    $('.itemRow' + inv.InventoryId).html(result);
                }
            });
        };
    </script>
    <script>
        function openTab(evt, tableName) {
            // Declare all variables
            var i, tabcontent, tablinks;

            // Get all elements with class="tabcontent" and hide them
            tabcontent = document.getElementsByClassName("tabcontent");
            for (i = 0; i < tabcontent.length; i++) {
                tabcontent[i].style.display = "none";
            }

            // Get all elements with class="tablinks" and remove the class "active"
            tablinks = document.getElementsByClassName("tablinks");
            for (i = 0; i < tablinks.length; i++) {
                tablinks[i].className = tablinks[i].className.replace(" active", "");
            }

            // Show the current tab, and add an "active" class to the button that opened the tab
            document.getElementById(tableName).style.display = "block";
            evt.currentTarget.className += " active";
        }
    </script>
</head>

<div class="inventory-view">
    <div class="filer-data" align="center">
        <h1 class="display-4" align="center">Filter</h1>
        <form action="">
            <p><b>Price</b></p>
            <span>50$</span>
            <input class="scroll" type="range" min="50" max="500" value="250">
            <span>500$</span>
            <br /><br />
            <p><b>Grade</b></p>
            <select name="grade" id="grade" align="center">
                <option value="grade b">Grade B</option>
                <option value="grade c">Grade C</option>
                <option value="high yield">High Yield</option>
            </select>
            <br><br />
            <p><b>Name</b></p>
            <select name="name" id="name">
                <option value="road">Road bike</option>
                <option value="mountain">Mountain bike</option>
                <option value="hybrid">Hybrid bike</option>
                <option value="cyclocross">Cyclocross bike</option>
                <option value="folding">Folding bike</option>
            </select>
            <br><br />
            <input type="submit" value="Filter">

        </form>
    </div>
    <div class="bike-components">
        <div class="tab">
            <button class="tablinks active" id="allButton" onclick="openTab(event, 'All')">All</button>
        </div>
        <div class="tab">
            <button class="tablinks" id="bikeButton" onclick="openTab(event, 'Bike')">Bike</button>
            <button class="tablinks" id="partButton" onclick="openTab(event, 'Part')">Part</button>
            <button class="tablinks" id="matButton" onclick="openTab(event, 'Material')">Material</button>
        </div>
        <div id="All" class="tabcontent" style="display: block">

            <h3>All</h3>

            @{await Html.RenderPartialAsync("InventoryTable", Model.AllList);}
        </div>
        <!-- Tab content -->
        <div id="Bike" class="tabcontent">

            <h3>Bikes</h3>

            @{await Html.RenderPartialAsync("InventoryTable", Model.BikeList);}
        </div>

        <div id="Part" class="tabcontent">
            <h3>Parts</h3>

            @{await Html.RenderPartialAsync("InventoryTable", Model.PartList);}
        </div>

        <div id="Material" class="tabcontent">
            <h3>Material</h3>

            @{await Html.RenderPartialAsync("InventoryTable", Model.MaterialList);}
        </div>

    </div>
</div>
