@model soen390_team01.Models.InventoryModel

@{
    ViewData["Title"] = "InventoryView";
}

<h1>InventoryView</h1>

<h4>InventoryModel</h4>
<hr />


<div class="row">
    <div class="col-md-4">
        <div class="form-group">
            <form method="post" asp-controller="Inventory" asp-action="Index" asp-route-returnurl="">
                <input class="btn btn-primary btn-lg" type="submit" value="test" />
            </form>
        </div>
    </div>
</div>

