
@{ViewData["Title"] = "Inventory View";}

@section Stylesheets {
    <link type="text/css" rel="stylesheet" href="../Views/Inventory/Index.css" />
}
<nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3" id="navbar">
    <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
        <ul class="navbar-nav flex-grow-1">
            <li class="nav-item">
                <a class="nav-link text-dark" asp-area="" asp-controller="" asp-action="">Bike</a>
            </li>
            <li class="nav-item">
                <a class="nav-link text-dark" asp-area="" asp-controller="" asp-action="">Part</a>
            </li>
            <li class="nav-item">
                <a class="nav-link text-dark" asp-area="" asp-controller="" asp-action="">Material</a>
            </li>
        </ul>
    </div>
</nav>
<div class="filer-data" style="float:right;" align="center">
    <h1 class="display-4" align="center">Filter</h1>
    <form action="">
        <p><b>Price</b></p>
        <span>50$</span>
        <input type="range" min="50" max="500" value="250">
        <span>500$</span>
        <br /><br />
                  <p><b>Grade</b></p>
                  <select name="grade" id="grade" align="center">
                      <option value="grade b">Grade B</option>
                      <option value="grade c">Grade C</option>
                      <option value="high yield">High Yield</option>
                  </select>
                  <br><br />
                  <p><b>Name</b></p>
                  <select name="name" id="name">
                      <option value="road">Road bike</option>
                      <option value="mountain">Mountain bike</option>
                      <option value="hybrid">Hybrid bike</option>
                      <option value="cyclocross">Cyclocross bike</option>
                      <option value="folding">Folding bike</option>
                  </select>
                  <br><br />
                  <input type="submit" value="Filter">

    </form>
</div>
<div class="bike-components" style="float:left">
    <table class="table">
        <tr>
            <td>Id</td>
            <td>Name</td>
            <td>Price</td>
            <td>Name</td>
            <td>Grade</td>
            <td>Quantity</td>
        </tr>
        <tr>
            <td>1</td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td>
                <button class="button" onclick="">+</button>
                <input type="text" name="french-hens" id="french-hens" value="3" maxlength="1" size="1">
                <button class="button" onclick="">-</button>
            </td>
        </tr>
    </table>
</div>

