@model soen390_team01.Services.IInventoryService
@using Newtonsoft.Json

@{
    ViewData["Title"] = "Inventory";
    ViewData["selectedTab"] = "";
}

<head id="head">
    <title>Inventory</title>

    <link rel="stylesheet" href="\css\Inventory.css">

    <script type="text/javascript">
        function changeQuantity(inv, change) {
            inv.Quantity += change;
            $.ajax({
                url: '@Url.Action("ChangeQuantity", "Inventory")',
                type: 'POST',
                contentType: 'application/json; charset=utf-8',
                data: JSON.stringify(inv),
                dataType: 'html',
                success: function (result) {
                    $('.itemRow' + inv.InventoryId).html(result);
                },
                fail: function (result) {
                    alert("You don't have the permission required")
                }
            });
        };

        function passingFilters(filters, displayedName, filterInput, mobile = false) {
            filters.List = adjustFilters(filters, displayedName, filterInput);
            $.ajax({
                url: '@Url.Action("FilterProductTable", "Inventory")',
                type: 'POST',
                contentType: 'application/json; charset=utf-8',
                data: JSON.stringify({
                    filters: filters,
                    mobile: mobile
                }),
                dataType: 'html',
                success: function (result) {
                    $('.inventory-view').html(result);
                }
            });
        };

        function refreshFilter(type, mobile) {
            $.ajax({
                url: '@Url.Action("Refresh", "Inventory")',
                type: 'POST',
                contentType: 'application/json; charset=utf-8',
                data: JSON.stringify({
                    selectedTab: type,
                    mobile: mobile
                }),
                dataType: 'html',
                success: function (result) {
                    $('.inventory-view').html(result);
                }
            });
        };

    </script>
    <script>
        function openTab(evt, tableName) {
            // Declare all variables
            var i, tabcontent, tablinks;

            // Get all elements with class="tabcontent" and hide them
            tabcontent = document.getElementsByClassName("tabcontent");
            for (i = 0; i < tabcontent.length; i++) {
                tabcontent[i].style.display = "none";
            }

            // Get all elements with class="tablinks" and remove the class "active"
            tablinks = document.getElementsByClassName("tablinks");
            for (i = 0; i < tablinks.length; i++) {
                tablinks[i].className = tablinks[i].className.replace("active", "");
            }
            // Show the current tab, and add an "active" class to the button that opened the tab
            console.log(document.getElementById(tableName))
            document.getElementById(tableName).style.display = "block";
            evt.currentTarget.className += " active";

            document.getElementById("inventory-filter").style.display = "none";
            document.getElementById("bike-filter").style.display = "none";
            document.getElementById("part-filter").style.display = "none";
            document.getElementById("material-filter").style.display = "none";
            document.getElementById(tableName + "-filter").style.display = "block";
        }
    </script>
</head>

<div class="row inventory-view">
    @{await Html.RenderPartialAsync("InventoryBody", Model);}
</div>
