@model soen390_team01.Models.InventoryModel
@using Newtonsoft.Json

@{
    ViewData["Title"] = "Inventory";
    ViewData["selectedTab"] = "";
}

<head id="head">
    <title>Inventory</title>

    <link rel="stylesheet" href="\css\Inventory.css">

    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script type="text/javascript">
        function changeQuantity(inv, change) {
            inv.Quantity += change;
            $.ajax({
                url: '@Url.Action("ChangeQuantity", "Inventory")',
                type: 'POST',
                contentType: 'application/json; charset=utf-8',
                data: JSON.stringify(inv),
                dataType: 'html',
                success: function (result) {
                    $('.itemRow' + inv.InventoryId).html(result);
                }
            });
        };
        function passingFilters(filters, displayedName, filterInput) {
            console.log(filters.List);
            var list = filters.List.map(f => {
                if (f.SelectValues) {
                    f.Input = {
                        SelectInput: { SelectValue: f.Value, PossibleValues: f.SelectValues }
                    };
                } else if (f.Value !== null) {
                    f.Input = { StringValue: f.Value };
                }
                return f;
            });

            var filterIndex = list.findIndex(f => f.DisplayColumn === displayedName);
            var modifiedFilter = list[filterIndex];
            modifiedFilter.Input = filterInput;
            list[filterIndex] = modifiedFilter;

            filters.List = list;

            $.ajax({
                url: '@Url.Action("FilterProductTable", "Inventory")',
                type: 'POST',
                contentType: 'application/json; charset=utf-8',
                data: JSON.stringify(filters),
                dataType: 'html',
                success: function (result) {
                    $('.inventory-view').html(result);
                }
            });
        };
        function refreshFilter(type) {
            $.ajax({
                url: '@Url.Action("Refresh", "Inventory")',
                type: 'POST',
                contentType: 'application/json; charset=utf-8',
                data: JSON.stringify(type),
                dataType: 'html',
                success: function (result) {
                    $('.inventory-view').html(result);
                }
            });
        };

    </script>
    <script>
        function openTab(evt, tableName) {
            // Declare all variables
            var i, tabcontent, tablinks;

            // Get all elements with class="tabcontent" and hide them
            tabcontent = document.getElementsByClassName("tabcontent");
            for (i = 0; i < tabcontent.length; i++) {
                tabcontent[i].style.display = "none";
            }

            // Get all elements with class="tablinks" and remove the class "active"
            tablinks = document.getElementsByClassName("tablinks");
            for (i = 0; i < tablinks.length; i++) {
                tablinks[i].className = tablinks[i].className.replace(" active", "");
            }

            // Show the current tab, and add an "active" class to the button that opened the tab
            document.getElementById(tableName).style.display = "block";
            evt.currentTarget.className += " active";

            switch (tableName) {

                case "Bike":
                    document.getElementById("Bike-filter").style.display = "block";
                    document.getElementById("Part-filter").style.display = "none";
                    document.getElementById("Material-filter").style.display = "none";
                    break;
                case "Material":
                    document.getElementById("Bike-filter").style.display = "none";
                    document.getElementById("Part-filter").style.display = "none";
                    document.getElementById("Material-filter").style.display = "block";
                    break;
                case "Part":
                    document.getElementById("Bike-filter").style.display = "none";
                    document.getElementById("Part-filter").style.display = "block";
                    document.getElementById("Material-filter").style.display = "none";
                    break;
            }
        }
        function hideFilter() {
            // Declare all variables
            var i, tabcontent;

            // Get all elements with class="tabcontent" and hide them
            tabcontent = document.getElementsByClassName("filer-data");
            for (i = 0; i < tabcontent.length; i++) {
                tabcontent[i].style.display = "none";
            }
        }
        function showFilter(type) {
            document.getElementById(type + "-filter").display = "block";
        }
    </script>
</head>

<div class="inventory-view">
    @{await Html.RenderPartialAsync("InventoryBody", Model);}
</div>
