@using Newtonsoft.Json
@model List<soen390_team01.Data.Entities.Inventory>

<table class="container" id = "inventoryTableCsv" aria-label="Inventory">
    <tr class="row pt-4 pb-4 h-100 text-center">
        <th class="col">Id</th>
        <th class="col">ItemId</th>
        <th class="col">Type</th>
        <th class="col">Warehouse</th>
        <th class="col">Quantity</th>
        <th class="col">Added</th>
        <th class="col">Updated</th>
    </tr>
    @foreach (var item in Model)
    {
        <tr class="@("itemRow" + item.InventoryId) row pt-4 pb-4 h-100 text-center">
            @{await Html.RenderPartialAsync("InventoryItem", item);}
        </tr>
    }
</table>