@using Newtonsoft.Json
@model List<soen390_team01.Data.Entities.Inventory>

<table class="table table-bordered table-hover" id = "inventoryTableCsv" aria-label="Inventory" style="overflow: auto;">
    <tr>
        <th scope="col">Id</th>
        <th scope="col">ItemId</th>
        <th scope="col">Type</th>
        <th scope="col">Warehouse</th>
        <th scope="col">Quantity</th>
        <th scope="col">Added</th>
        <th scope="col">Updated</th>
    </tr>
    @foreach (var item in Model)
    {
        <tr class="@("itemRow" + item.InventoryId)">
            @{await Html.RenderPartialAsync("InventoryItem", item);}
        </tr>
    }
</table>