@using Newtonsoft.Json
@model List<soen390_team01.Data.Entities.Inventory>

<table class="table" aria-label="Inventory" width="100%">
    <tr>
        <th><u>Id</u></th>
        <th><u>ItemId</u></th>
        <th><u>Type</u></th>
        <th><u>Warehouse</u></th>
        <th><u>Quantity</u></th>
    </tr>
    @foreach (var item in Model)
    {
        <tr class="@("itemRow" + item.InventoryId)">
            @{await Html.RenderPartialAsync("InventoryItem", item);}
        </tr>
    }
</table>