<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>@ViewData["Title"] Downhill</title>
        <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
        <link rel="stylesheet" href="~/css/site.css" />
    </head>
    <body>
        <div class="container-fluid" style="padding-top:10px">
            <div class="container-sm jumbotron">
                <h1>Welcome</h1>
                <p class="lead">Welcome to Downhill's entreprise resources management.</p>
                <div class="row" >
                    <button type="button" class="btn btn-primary" style="margin:5px">Help Page</button>
                    <button type="button" class="btn btn-primary" style="margin:5px">Pricing</button>
                </div>
            </div>
            <div class="container-sm jumbotron justify-content-center">
                @RenderBody()
            </div>
        </div>
        <script src="~/lib/jquery/dist/jquery.min.js"></script>
        <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
        <script src="~/js/site.js" asp-append-version="true"></script>
        @await RenderSectionAsync("Scripts", required: false)
    </body>
</html>
