@model soen390_team01.Models.LoginModel

@{
    ViewData["Title"] = "ForgotPasswordView";
    Layout = "_AuthenticationLayout";
}

<h1>Forgot Password</h1>

<hr />
<div class="row">
    <div class="col-md-4">
        <div class="form-group">
            @using (Html.BeginForm("SendPasswordRequest", "Authentication", FormMethod.Post))
            {
                @Html.LabelFor(m => m.Email, new { @class = "col-md-2 control-label" })
                <div class="col-md-10">
                    @Html.TextBoxFor(m => m.Email, new { @class = "form-control" })
                    @Html.ValidationMessageFor(m => m.Email, "", new { @class = "text-danger" })
                </div>
                <div class="col-md-10" style="margin-top:20px; margin-left:20px">
                    <div class="row">
                        <button type="submit" class="btn btn-primary btn-lg" style="">Send Password Reset</button>
                        <a asp-controller="Authentication"
                            asp-action="Index" style="margin-left:15px; margin-top:15px">Log in</a>
                    </div>
                </div>
            }
        </div>
    </div>
</div>