@model soen390_team01.Models.LoginModel

@{
    ViewData["Title"] = "ForgotPasswordView";
    Layout = "_AuthenticationLayout";
}




    <div style="padding: 30px;">
        <div class="row">
            <h2>Forgot Password</h2>
        </div>
        <div class="row">    
            <div class="form-group">
                   <form method="post" asp-controller="Authentication" asp-action="ForgotPassword" asp-route-returnurl="">
                       <div class="row" style="padding: 15px;">
                           <label asp-for="Email"></label>
                           <input asp-for="Email" class="form-control" />
                           <span asp-validation-for="Email" class="text-danger"></span>
                       </div>
                       <div class="row">
                            <input class="btn btn-primary" type="submit" value="Submit" style="margin:10px;" />
                            <a class="btn btn-outline-primary" asp-controller="Authentication" asp-action="Index" style="margin:10px;" >Back to Log in </a>
                       </div>
                        
                    </form>
                </div>
            </div>
        </div>