@model soen390_team01.Models.LoginModel

@{
    ViewData["Title"] = "ForgotPasswordView";
    Layout = null;
}

<h1>ForgotPasswordView</h1>

<h4>LoginModel</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <div class="form-group">
            @using (Html.BeginForm("SendPasswordRequest", "Authentication", FormMethod.Post))
            {
                @Html.LabelFor(m => m.Email, new { @class = "col-md-2 control-label" })
                <div class="col-md-10">
                    @Html.TextBoxFor(m => m.Email, new { @class = "form-control" })
                    @Html.ValidationMessageFor(m => m.Email, "", new { @class = "text-danger" })
                </div>
                <input type="submit" value="Send Password Reset" />
            }
        </div>
    </div>
</div>

<div>
    <a asp-controller="Authentication"
       asp-action="Index">Log in</a>
</div>