@model soen390_team01.Models.LoginModel

@{
    ViewData["Title"] = "LoginView";
    Layout = "_AuthenticationLayout";
}

<h1>Log in</h1>
<hr />
<div class="row">
    <div class="col-md-4">
        <div class="form-group">
            <form method="post" asp-controller="Authentication" asp-action="Index" asp-route-returnurl="">
                <div>
                    <label asp-for="Email"></label>
                    <input asp-for="Email" class="form-control" />
                    <span asp-validation-for="Email" class="text-danger"></span>
                </div>
                <div>
                    <label asp-for="Password"></label>
                    <input asp-for="Password" class="form-control" />
                    <span asp-validation-for="Password" class="text-danger"></span>
                </div>
                <input class="btn btn-primary btn-lg" type="submit" value="Login" />
                <a asp-controller="Authentication"
                   asp-action="ForgotPassword" style="margin-top:10px; margin-left:15px">Forgot Password</a>
            </form>
        </div>
    </div>
</div>


