@using Microsoft.AspNetCore.Mvc.ModelBinding
@model soen390_team01.Services.IAssemblyService

@{
    ViewData["Title"] = "Assembly";
}
<head>
    <title>Assembly</title>

    <link rel="stylesheet" href="\css\Assembly.css">
    <meta name="viewport" content="width=device-width" />
    <script>
        function passingFilters(filters, displayedName, filterInput, mobile) {
            filters.List = adjustFilters(filters, displayedName, filterInput);

            $.ajax({
                url: '@Url.Action("FilterAssemblyTable", "Assembly")',
                type: 'POST',
                contentType: 'application/json; charset=utf-8',
                data: JSON.stringify({
                    "filters": filters,
                    "mobile": mobile
                }),
                dataType: 'html',
                success: function (result) {
                    $('.transfer-view').html(result);
                }
            });

        };
        function refreshFilter(type, mobile) {

            $.ajax({
                url: '@Url.Action("Refresh", "Assembly")',
                type: 'POST',
                contentType: 'application/json; charset=utf-8',
                data: JSON.stringify({
                    selectedTab: type,
                    mobile: mobile
                }),
                dataType: 'html',
                success: function (result) {
                    $('.transfer-view').html(result);
                }
            });

        };

    </script>
</head>

<div class="transfer-view">
    @{await Html.RenderPartialAsync("AssemblyBody", Model);}
</div>
