@model List<soen390_team01.Services.MissingPart>

<script type="text/javascript">
    $(function () {
        $('#MissingParts').modal('show');
    });
</script>
<div class="modal fade" id="MissingParts" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Missing Components</h4>
            </div>
            <div class="modal-body">
                <ul>
                    @foreach (var missingPart in Model)
                    {
                    <li>
                        Missing Part  ( @missingPart.Quantity ) - ID: @missingPart.Part.ItemId

                        <ul>
                            @foreach (var missingMaterial in missingPart.MissingMaterials)
                            {
                                <li>  Missing Material ( @missingMaterial.Quantity ) - ID: @missingMaterial.Material.ItemId </li>
                            }
                        </ul>
                    </li>
                    }
                </ul>

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>
