@using Microsoft.AspNetCore.Mvc.ModelBinding
@model soen390_team01.Services.ITransferService

@{
    ViewData["Title"] = "Transfers";
}
<head>
    <title>Transfers</title>

    <link rel="stylesheet" href="\css\Transfers.css">
    <meta name="viewport" content="width=device-width" />
    <script>
        function showButton() {
            document.getElementById("procbutton").style.display = "";
        }

        function hideButton() {
            document.getElementById("procbutton").style.display = "none";
        }

        function showFilter() {
            document.getElementById("ofilter").style.display = "none";
            document.getElementById("ofilterM").style.display = "none";
            document.getElementById("pfilter").style.display = "";
            document.getElementById("pfilterM").style.display = "";
        }

        function hideFilter() {
            document.getElementById("pfilter").style.display = "none";
            document.getElementById("pfilterM").style.display = "none";
            document.getElementById("ofilterM").style.display = "";
            document.getElementById("ofilter").style.display = "";
        }

        function passingFilters(filters, displayedName, filterInput, mobile) {
            filters.List = adjustFilters(filters, displayedName, filterInput);
            
            $.ajax({
                url: '@Url.Action("FilterTransferTable", "Transfers")',
                type: 'POST',
                contentType: 'application/json; charset=utf-8',
                data: JSON.stringify({
                    "filters": filters,
                    "mobile": mobile
                }),
                dataType: 'html',
                success: function (result) {
                    $('.transfer-view').html(result);
                }
            });
            
        };
        function refreshFilter(type, mobile) {

            $.ajax({
                url: '@Url.Action("Refresh", "Transfers")',
                type: 'POST',
                contentType: 'application/json; charset=utf-8',
                data: JSON.stringify({
                    selectedTab: type,
                    mobile: mobile
                }),
                dataType: 'html',
                success: function (result) {
                    $('.transfer-view').html(result);  
                }
            });

        };

    </script>
</head>

<div class="transfer-view">
    @{await Html.RenderPartialAsync("TransferBody", Model);}
</div>
