
@{
    ViewData["Title"] = "transfers";
}
<head>
    <link rel="stylesheet" href="~/css/Transfers.css">
    
</head>

<div class="transfers-view">
    <div class="filer-data" align="center">
        <h1 class="display-4" align="center">Filter</h1>
        <form action="">
            <p>Status</p>
            <input type="checkbox" id="pending" name="pending" value="pending">
            <label for="pending">Pending</label><br>
            <input type="checkbox" id="completed" name="completed" value="completed">
            <label for="completed">Completed</label><br>
            <input type="checkbox" id="cancelled" name="cancelled" value="cancelled">
            <label for="cancelled">Cancelled</label><br>
            <h6>Date</h6>
            <label for="From">From:</label>
            <input type="date" id="From" name="From">
            <br>
            <label for="To">To:</label>
            <input type="date" id="To" name="To">
            <p>Customer</p>
            <select name="customer" id="customer" align="center">
                <option value="A">A</option>
                <option value="B">B</option>
                <option value="C">C</option>
            </select>
            <br><br />
            <input type="submit" value="Generate Graph">
        </form>
    </div>
    <div class="tab">
        <button class="tablinks" id="bikeButton" onclick="openTab(event, 'AllItem')">All</button>
        <button class="tablinks" id="partButton" onclick="openTab(event, 'Payable')">Payable</button>
        <button class="tablinks" id="matButton" onclick="openTab(event, 'Receivable')">Receivable</button>
    </div>
</div>


