@using Newtonsoft.Json
@model List<soen390_team01.Data.Entities.Order>

<div class="container">
    <div class="row pt-4 pb-4 h-100 text-center">
        <div class="col"><u>ID</u></div>
        <div class="col"><u>State</u></div>
        <div class="col"><u>Customer</u></div>
    </div>
    @foreach (var order in Model)
    {
        <div class="row pt-4 pb-4 h-100 text-center">
            <div class="col">@order.OrderId</div>
            <div class="col">@order.State</div>
            <div class="col">@order.Customer.Name</div>
        </div>
    }
</div>