@model soen390_team01.Services.ITransferService
@using Newtonsoft.Json

<body>
    <!--Buttons that only appear in mobile version-->
    <div class="container justify-content-center">
        <div class="row" id="mobileButtons">
            <button class="btn btn-outline-primary collapButton1" data-toggle="modal" data-target="#filterModal">Filter</button>
            <button class="btn btn-outline-primary collapButton2" style="display:none;" id="procbutton" data-toggle="modal" data-target="#procModal">Add Procurement</button>
        </div>
    </div>
    <!--/Buttons that only appear in mobile version-->
    <!--/Modal for filter in mobile mode-->
    <div class="modal fade" id="filterModal" tabindex="-1" role="dialog" aria-labelledby="filterModalTitle" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="filterModalTitle">FILTER</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body" id="modal-filter">
                    @{await Html.RenderPartialAsync("ModalFilter", Model);}
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary" data-dismiss="modal">Filter</button>
                </div>
            </div>
        </div>
    </div>
    <!-- /Modal for filter in mobile mode-->

    <div class="row">
        <!--Table with tabs-->
        <div class="col-lg-8 mx-lg-auto" id="LHS">
            <ul class="nav nav-pills mb-3" id="pills-tab" role="tablist">
                <li style="width: 50%;text-align:center;">
                    <a class="nav-link @(Model.SelectedTab == "order" || Model.SelectedTab == "Order" ? "active" : "")" id="orderTab" data-toggle="pill" href="#orderTabContent" role="tab" aria-controls="orderTabContent" aria-selected="true" onclick="hideButton(); hideFilter();">
                        Order
                    </a>
                </li>
                <li class="nav-item" style="width: 50%; text-align:center;">
                    <a class="nav-link @(Model.SelectedTab == "procurement" || Model.SelectedTab == "Procurement"? "active" : "")" id="procTab" data-toggle="pill" href="#procTabContent" role="tab" aria-controls="procTabContent" aria-selected="false" onclick="showButton(); showFilter();">
                        Procurement
                    </a>
                </li>

            </ul>
            <div class="tab-content" id="pills-tabContent">
                <div class="tab-pane fade show @(Model.SelectedTab == "order" || Model.SelectedTab == "Order" ? "active" : "")" id="orderTabContent" role="tabpanel" aria-labelledby="orderTab">
                    @{await Html.RenderPartialAsync("OrderTable", Model.Orders);}
                </div>
                <div class="tab-pane fade show @(Model.SelectedTab == "procurement" || Model.SelectedTab == "Procurement"? "active" : "")" id="procTabContent" role="tabpanel" aria-labelledby="procTab">
                    @{await Html.RenderPartialAsync("ProcurementTable", Model.Procurements);}
                </div>
            </div>
        </div>
        <!--/Table with tabs-->
        <!--Filter area-->
        <div class="col-lg-3 pb-3" id="filter">
            <div class="row justify-content-center">
                <h3 class="text-center">FILTER</h3>
            </div>
            @{await Html.RenderPartialAsync("Filter", Model);}
        </div>
    </div>

    <!-- Modal for procurement tab-->
    <div class="modal fade" id="procModal" tabindex="-1" role="dialog" aria-labelledby="procModalTitle" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="procModalTitle">Add Procurement</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body" id="modal-procurement">
                    <form method="post" asp-controller="Transfers" asp-action="AddProcurement">
                        <div class="row">
                            <div class="col-4 text-right">
                                <label asp-for="AddProcurement.ItemId">Item ID</label>
                            </div>
                            <div class="col-6">
                                <input asp-for="AddProcurement.ItemId" class="form-control" />
                                <span asp-validation-for="AddProcurement.ItemId" class="text-danger"></span>
                            </div>
                            <div class="col-4 text-right">
                                <label asp-for="AddProcurement.ItemType">Item Type</label>
                            </div>
                            <div class="col-6">
                                <input asp-for="AddProcurement.ItemType" class="form-control" />
                                <span asp-validation-for="AddProcurement.ItemType" class="text-danger"></span>
                            </div>
                            <div class="col-4 text-right">
                                <label asp-for="AddProcurement.ItemQuantity">Item Quantity</label>
                            </div>
                            <div class="col-6">
                                <input asp-for="AddProcurement.ItemQuantity" class="form-control" />
                                <span asp-validation-for="AddProcurement.ItemQuantity" class="text-danger"></span>
                            </div>
                            <div class="col-4 text-right">
                                <label asp-for="AddProcurement.VendorId">Vendor Id</label>
                            </div>
                            <div class="col-6">
                                <input asp-for="AddProcurement.VendorId" class="form-control" />
                                <span asp-validation-for="AddProcurement.VendorId" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button type="submit" class="btn btn-primary">Add</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <!-- /Modal for proucrement tab-->

</body>