@using Microsoft.AspNetCore.Mvc.ModelBinding
@using soen390_team01.Data.Entities;
@model soen390_team01.Services.IAccountingService

@{ ViewData["Title"] = "Accounting View";
    ViewData["selectedTab"] = ""; }


<head>
    <link rel="stylesheet" href="\css\Accounting.css">
    <link rel="stylesheet" href="\css\site.css">
    <meta name="viewport" content="width=device-width" />
    <script>
        $(document).ready(function () {
                $('#generateG-button').on('click', function () {
                $('#LHS').hide();
                $('#graphID').show();
                $('#filter').hide();
                $('#filter-button').hide();
                $('#generateG-button').hide();
                $('#back-button').show();
            });

            $('#generateButton').on('click', function () {
                $('#LHS').hide();
                $('#graphID').show();
                $('#filter').hide();
                $('#filter-button').hide();
                $('#generateG-button').hide();
                $('#back-button').show();

            });
                       
        });


        function passingFilters(filters, displayedName, filterInput, mobile) {
            filters.List = adjustFilters(filters, displayedName, filterInput);

            $.ajax({
                url: '@Url.Action("FilterPaymentTable", "Accounting")',
                type: 'POST',
                contentType: 'application/json; charset=utf-8',
                data: JSON.stringify({
                    "filters": filters,
                    "mobile": mobile
                }),
                dataType: 'html',
                success: function (result) {
                    $('.accounting-view').html(result);
                }
            });
        };

        function refreshFilter(type, mobile) {
            location.reload();
            $.ajax({
                url: '@Url.Action("Refresh", "Accounting")',
                type: 'POST',
                contentType: 'application/json; charset=utf-8',
                data: JSON.stringify({
                    selectedTab: type,
                    mobile: mobile
                }),
                dataType: 'html',
                success: function (result) {
                    $('.accounting-view').html(result);
                }
            });
        };
    </script>

</head>

<div class="accounting-view">
    @{await Html.RenderPartialAsync("AccountingBody", Model);}
</div>