div.inventory-view::after {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0;
}

* html .clearfix {
    zoom: 1;
}

*:first-child + html .clearfix {
    zoom: 1;
}

div.quantity::after {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0;
}

* html .clearfix {
    zoom: 1;
}

*:first-child + html .clearfix {
    zoom: 1;
}


div.bike-components {
    float: left;
}

div.filer-data {
    border-style: solid;
    border-color: lightgrey;
    padding: 10px;
    border-width: thin;
    float: right;
}
input.filer-data {
    border-style: solid;
    border-color: lightgrey;
    padding: 10px;
    border-width: thin;
    float: right;
}

.bike-components {
    width: 78.7%;
}

.tablinks:hover , .allTab:hover {
    background-color: #1b6ec2;
}

.tablinks.active , allTab:hover{
    background-color: #1b6ec2;
}



.scroll {
    color: lightgray;
}

.quantity {
    border-style: solid;
    border-color: black;
    border-width: thin;
    width: 114px;
    border-radius: 10px
}

.button-minus {
    float: left;
    border: none;
    height: 28px;
    background-color: lightgray;
    width: 28px;
    border-bottom-left-radius: 10px;
    border-top-left-radius: 10px
}

.button-plus {
    float: left;
    border: none;
    height: 28px;
    background-color: lightgray;
    width: 28px;
    border-bottom-right-radius: 10px;
    border-top-right-radius: 10px
}

.quantity-text {
    float: left;
    height: 28px;
    border: none;
    text-align: center;
    width: 56px;
    -moz-appearance: textfield !important;
}

.quantity-text::-webkit-inner-spin-button, .no-spin::-webkit-outer-spin-button {
    -webkit-appearance: none !important;
    margin: 0 !important;
}

.filter-data {
    text-align: center
}
/**/
.bikeTable , .filter {
    border: 1px solid #1861ac;
    background-color: white;
    border-radius: 5px;
}

.bikeTable li {
   border-bottom: 1px solid #1861ac;
}

#bikeTab, #partTab {
    border-right: 1px solid #1861ac;
}

