div.inventory-view::after {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0;
}

* html .clearfix {
    zoom: 1;
}

*:first-child + html .clearfix {
    zoom: 1;
}

div.quantity::after {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0;
}

* html .clearfix {
    zoom: 1;
}

*:first-child + html .clearfix {
    zoom: 1;
}

div.inventory-view {
    border-style: solid;
    border-width: thin;
    border-color: lightgrey;
    padding: 10px;
    border-radius: 8px;
}

div.bike-components {
    float: left;
    overflow: scroll;
}

.filter-data {
    text-align: center;
}

div.filter-data {
    border-style: solid;
    border-color: lightgrey;
    padding: 10px;
    border-width: thin;
    float: right;
}
input.filter-data {
    border-style: solid;
    border-color: lightgrey;
    padding: 10px;
    border-width: thin;
    float: right;
}
.tab {
    overflow: hidden;
    border: 1px solid #ccc;
    background-color: white;
}

.tablinks {
    background-color: white;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    transition: 0.3s;
    width: 33%;
}

.bike-components {
    width: 78.7%;
}

.tablinks:hover {
    background-color: #ccc;
}

.tablinks.active {
    background-color: #ccc;
}

.tabcontent {
    display: none;
    padding: 6px 12px;
    border: 1px solid #ccc;
    border-top: none;
    height: 400px;
}

.scroll {
    color: lightgray;
}

.quantity {
    border-style: solid;
    border-color: black;
    border-width: thin;
    width: 114px;
    border-radius: 10px
}

.button-minus {
    float: left;
    border: none;
    height: 28px;
    background-color: lightgray;
    width: 28px;
    border-bottom-left-radius: 10px;
    border-top-left-radius: 10px
}

.button-plus {
    float: left;
    border: none;
    height: 28px;
    background-color: lightgray;
    width: 28px;
    border-bottom-right-radius: 10px;
    border-top-right-radius: 10px
}

.quantity-text {
    float: left;
    height: 28px;
    border: none;
    text-align: center;
    width: 56px;
    -moz-appearance: textfield !important;
}

.price-text {
    height: 28px;
    text-align: center;
    width: 24px;
    -moz-appearance: textfield !important;
}

.quantity-text::-webkit-inner-spin-button, .quantity-text::-webkit-outer-spin-button {
    -webkit-appearance: none !important;
    margin: 0 !important;
}

.price-text::-webkit-inner-spin-button, .price-text::-webkit-outer-spin-button {
    -webkit-appearance: none !important;
    margin: 0 !important;
}
.elements {
    margin: 10px 5px 5px 5px;
    padding: 5px;
    display: inline-block;
    text-align: center;
}
