@media screen and (max-width: 1290px) {
    #userDesktop {
        display: none;
    }
}

@media screen and (min-width: 1289px) {
    #userMobile {
        display: none;
    }
}

#userDesktop {
    overflow-y: scroll;
    height: 40%;
    width: 80%;
    margin-top: 30px;
    border: 1px solid #1861ac;
    border-radius: 5px;
}

#userDesktop::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    border-radius: 10px;
    background-color: #F5F5F5;
}

#userDesktop::-webkit-scrollbar {
    width: 10px;
    background-color: #1861ac;
}

#userDesktop::-webkit-scrollbar-thumb {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
    background-color: #1861ac;
}

#userMobile {
    margin: 5px;
}

label {
    padding-top: 5px;
}

input {
    margin: 5px;
    padding: 5px;
}

th {
    position: sticky;
    top: 0;
    border: 1px solid #1861ac;
    background-color: #1b6ec2;
    color: white;
}

tr {
    color: #1b6ec2;
    border: 1px solid #1861ac;
    border-radius: 5px;
}
