@model soen390_team01.Models.EditUserModel

<div class="modal fade" id="EditUser">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="EditUserLabel">Edit User</h4>
                <button type="button" class="close" data-dismiss="modal">
                    <span>X</span>
                </button>
            </div>

            <div class="modal-body">
                <form method="post" asp-controller="UserManagement" asp-action="EditUser">
                    <input type="hidden" asp-for="UserId"/>
                    <input type="hidden" asp-for="Email"/>
                    <div>
                        <label asp-for="FirstName">First Name</label>
                        <input asp-for="FirstName" class="form-control" />
                        <span asp-validation-for="FirstName" class="text-danger"></span>
                    </div>
                    <div>
                        <label asp-for="LastName">Last Name</label>
                        <input asp-for="LastName" class="form-control" />
                        <span asp-validation-for="LastName" class="text-danger"></span>
                    </div>
                    <div>
                        <label asp-for="PhoneNumber">Phone Number</label>
                        <input asp-for="PhoneNumber" class="form-control" />
                        <span asp-validation-for="PhoneNumber" class="text-danger"></span>
                    </div>
                    <div>
                        <select asp-for="RoleEnum" asp-items="Html.GetEnumSelectList<Roles>()"></select>
                    </div>
                </form>
            </div>

            <div class="modal-footer">
                <button class="btn btn-primary" data-save="modal">Update</button>
            </div>
        </div>
    </div>
</div>